.c-wrapper {
	width: 300px;
	margin: 50px auto;
	background-color: #80ff00;
	overflow: hidden;
}

.c-input-title {
	color: #606;
	text-transform: uppercase;
	text-shadow: 0 1px 1px #fff;
}

.c-input {
	margin: 10px 48px;
	width: 200px;
	border: 1px solid purple;
	padding: 4px;
}

.c-btn {
	border-radius: 0;
	background: #606;
	color: #fff;
	border: none;
	font-size: 14px;
	padding: 10px 20px;
	margin: 10px auto;
	cursor: pointer;
	min-width: 100px;
	display: block;
}

.c-btn:hover {
	background-color: #1e001e;
}
.c-btn:hover, .c-btn {
	-webkit-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	transition: background-color .3s ease;
}
}